.body{
    display: flex;
    /* background-color: rgb(207, 189, 224); */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-image: url('https://www.wallsauce.com/uploads/wallsauce-com/images/thumbs/208/4f2c1869a228408fc9eed9b68d094d6d510f3791_800__R_N_90.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.box{
    background-color: rgb(233, 232, 232);
    height: 400px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(177, 176, 176);
}
input{ 
    border: none;
    display: block;
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: 30px;
    background: none;
    border-bottom: 1px solid gray;
    /* background-color: white; */
    color: rgb(214, 212, 212);
}
button{
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    width: 20%;
    background-color: rgb(177, 176, 176);
    color: white;
    margin-top: 17px;
}