.hm_nav{
    display: flex;
    /* background-color: rgb(150, 164, 129); */
    border-bottom: 1px dotted black;
    width: 100vw;
    height: 90px;   
    align-items: center;
}
.nav_left{
    width: 30%;
    height: 80%;
    /* background-color: aqua; */
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
}
.pro_title{
    text-decoration: none;
}
.nav_right{
    display: flex;
    width: 15%;
    height: 80%;
    /* background-color: aqua; */
    margin-left: 690px;
    align-items: center;
    justify-content: space-around;
    /* padding-right: 20px; */
}
.login_btn, .reg_btn{
    color: white;
    border: none;
    border-radius: 10px;
    width: 85px;
    background-color: rgb(148, 162, 128);
    padding: 15px ;
    /* margin: auto; */
}
/* .reg_btn{

} */